<% content_for :title, "Editing product" %>

<%= page_header "Editing product" %>

<%= render "form", product: @product %>

<br>

<div>
  <%= link_to "Show this product", [:admin, @product] %> |
  <%= link_to "Back to products", admin_products_path %>
</div>
